# python caches
__pycache__/
.DS_Store
.ruff_cache
# env
aoc-env/
venv/

# enviornment variables
.env
# packaging
*.egg*
# CL command
script.txt
setup_cli.py
# Ignore files that end with a digit before the .txt extension
*[0-9].txt
